* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#heatmap-container {
    position: relative;
    width: 800px;
    height: 600px;
    border: 1px solid #ccc;
}

#heatmap-canvas {
    display: block;
}

button {
    padding: 5px;
    margin-top: 10px;
}