body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    min-height: 100vh;
    background-color: aliceblue;
    flex-direction: column;
    gap: 30px;

    .prompt {
        font-size: 24px;
    }
}

#heatmap-container {
    position: relative;
}

#heatmap-image {
    display: block;
    width: 800px;
    height: auto;
}

#heatmap-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 600px;
    pointer-events: none;
}